@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Quintessential&display=swap');

.App {
  text-align: center;
}

.homepage {
  background-image: linear-gradient(to bottom right, rgb(71, 212, 14), rgb(6, 8, 8),rgb(14, 122, 194)), url('./imgs/paper-fibers.png');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: whitesmoke;
  font-family: 'Lavishly Yours', cursive;
  font-size: 70px;
  padding: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
}

.homepage .img {
  max-width: 400px;
}

.homepage .character-dropdown {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

/*begin dashboard*/

.dashboard {
  font-family: 'Quintessential', serif;
  background-image: url(./imgs/paper-fibers.png);
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: cornsilk;
  padding-bottom: 50px;
}

.dashboard .titleBox {
  background-color: #57757daa; 
  color: #333; 
  width: 100%; 
  margin: 20px auto; 
  min-height: 150px;
  height: auto;
  padding: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  vertical-align: middle;
}

.dashboard .avatar {
  height: 50px;
}

.dashboard .subtitle {
  font-family: 'Lavishly Yours', cursive;
  font-size: 30px;
  color: cornsilk;
}

.dashboard .subtitleBadge {
  font-family: 'Lavishly Yours', cursive;
  font-size: clamp(14px, 2vw, 30px);
  color: cornsilk;
}

.dashboard .topRowSubtitle {
  font-size: clamp(12px, 1vw, 16px);
}

@media (max-width: 1200px) {
  .dashboard .extraSpace {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  .dashboard .extraSpace1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  .dashboard .extraSpace2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.dashboard .skill {
  font-weight: bold;
  font-size: 20px;
  color: cornsilk;
}

.dashboard .numbers {
  font-size: 20px;
}

.dashboard .badges {
  margin-top: -15px;
  font-size: 30px;
}

.dashboard .skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0; 
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.dashboard .skill-pair {
  display: flex;
  align-items: center;
  padding: 16px 60px;
  font-size: 18px;
  gap: 24px; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.dashboard .mod {
  font-weight: normal;
  color: cornsilk;
}

.dashboard .trainingSubtitle {
  font-weight: bold;
  font-size: clamp(14px, 1vw, 20px);
  color: cornsilk;
}

/*begin header*/
.header {
  background-color: black;
  color: whitesmoke;
  font-family: 'Lavishly Yours', cursive;
  font-size: 25px;
  position: sticky;
  top: 0;
  z-index: 1100;
}

.header .btn {
  color: whitesmoke;
  font-size: 25px;
}

.header .btn {
  color: whitesmoke;
  font-size: 25px;
  background: transparent;
  border: none;
}

/* Hover effect */
.header .btn:hover {
  color: #17a2b8; 
  text-shadow: 0 0 5px #17a2b8; 
  cursor: pointer;
}

.header .btn-outline-info:hover {
  color: black;
  background-color: #17a2b8;
  border-color: #17a2b8;
}


/*Spells Nav*/

.spellsNav {
  color: whitesmoke;
  background-color: black;
  font-family: 'Quintessential', serif;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 100px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

@media (max-width: 830px) {
  .spellsNav {
    margin-top: 200px;
    height: calc(100vh - 200px);
  }
}

.spellsNav .btn {
  color: whitesmoke;
  font-size: 10x;
}

/* Hover effect */
.spellsNav .btn:hover {
  color: #08e94b; 
  text-shadow: 0 0 5px #08e94b; 
  cursor: pointer;
}

/* Toggle button on small screens */
.spellsNavToggle {
  background-color: black;
  border: none;
  color: #08e94b;
  font-weight: bold;
}

/* Mobile offcanvas behavior */
@media (max-width: 768px) {
  .spellsNav {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .spellsNav.open {
    transform: translateX(0);
  }
}
/*Spells Cantrips and 1-9*/
.spellsLanding {
  font-family: 'Quintessential', serif;
  background-image: url(./imgs/paper-fibers.png);
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: cornsilk;
  padding-bottom: 50px;
  min-height: 100vh;
  position: relative;
}

.spellsLanding .spellsMain {
  display: flex;
  flex-direction: row;
  margin-left: 200px;;
  padding-left: 20px;
}

.spellsLanding .spellsContent {
  flex-grow: 1;
  padding: 20px;
}

.spellsLanding .cardHeader {
  background-color: #6fa78bb6;
  color:rgb(20, 22, 21);
  font-size: 20px;
}

.spellsLanding .cardBody {
  background-color: #476e5b;
  color:rgb(218, 238, 228);
  font-size: 25px;
}

.spellsLanding .card {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .spellsLanding .spellsMain {
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
  }

  .spellsLanding .spellsContent {
    padding: 10px;
  }

  .spellsLanding .cardHeader > .row,
  .spellsLanding .cardHeader > .Row {
    flex-direction: column;
  }

  .spellsLanding .cardHeader div {
    width: 100% !important;
    margin-bottom: 6px;

  }
}

.spellsLanding .spell-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 4px;
  column-gap: 16px;
}

.spellsLanding .spell-pair {
  display: flex;
  align-items: baseline;
  font-size: clamp(14px, 1.2vw, 20px);
  gap: 6px;
  margin-bottom:  2px;
}


.spellsLanding .spell-field1 {
  color: rgb(113, 121, 115);
  white-space: nowrap;
  font-weight: 400;
}

.spellsLanding .spell-value1 {
  color: rgb(20, 22, 21);
  font-weight: 500;
  white-space: nowrap;
}

.spellsLanding .spell-value1.bold {
  font-weight: 1000;
}

/*Begin Weapons*/

.weapons {
  font-family: 'Quintessential', serif;
  background-image: url(./imgs/paper-fibers.png);
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: cornsilk;
  padding-bottom: 50px;
  min-height: 100vh
}

.weaponsMain {
  margin: 50px;

}

.weapons .card{
  width: 500px;
  border: 2px solid #6f00ff;
}

.weapons .cardBody {
  background-color: #5d4186;
  color: #e0dae9;
  font-size: 20px;
  font-weight: 500;
}

.weaponsMain .cardTitle {
  font-size: 30px;
  font-weight: bolder;
}

.weaponsMain .cardSubtitle {
  font-size: 14px;
  font-weight: 200;
}

.weaponsMain .bookends {
  background-color:  #b19dcf;
  font-size: 13px;
}

.weaponsMain .content {
  margin-top: 30px;
  margin-bottom: -20px;
}

/*begin login page*/
.login {
  background-image: linear-gradient(to bottom right, rgb(233, 108, 7), rgb(247, 231, 5), rgb(212, 14, 14)), url('./imgs/paper-fibers.png');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: whitesmoke;
  font-family: 'Lavishly Yours', cursive;
  font-size: 70px;
  padding: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
}